h1{
  color:red;
  text-align:center;
  font-family: Courier New;
}
div{
  height:100%;
  width:90%;
 background-color:black;
  opacity: 0.8;
  border: 1px solid gray;
  margin:auto;
  margin-top:200px;
}

h2{
  color:red;
  text-align:center;
  font-family: Courier New;
}
img{
  height:500px;

}
a{
  text-align:center;
}
h3{
  color:white;
  line-height:27px;
  font-family: Courier New;
}
footer{
  position: fixed;
  bottom: 0; 
  left: 0;
  background-color:red;
  color:white;  
  
}
bbody{
 background-image: url('https://pre00.deviantart.net/7064/th/pre/i/2016/072/3/8/thank_you___read_desc__by_goldenfredbeargames-d9max54.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
